<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>
			
			<%= f.label :name %>
			<%= f.text_field :name %>
			<p class="disclaimer">I agree, spam stinks. Your email address will never be shared with any 3rd parties. I promise. <p>
			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation %>
			
			<p class="disclaimer">By signing up, you agree to opt in to the POMOS general email list. I'll be using it as a way to let POMOS members know of important announcements. You can unsubscribe at any time.<p>
			<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>