<% provide(:title, @user.name) %>

<% content_for :pomodoro_charts do %>
  <!--google charts api-->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>  

  <% if @user.pomodoros.finished.any? %>
    <%= render 'users/show_user_charts' %> 
  <% end %>

<% end %>



<div class="row">
  <aside class="span3">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>

  <% if current_user == @user %>
    <section>
      <a href="#" class="btn btn-large btn-success" onclick="openTimerPopup()">Open up the timer</a>
    </section>
  <% end %>

  <% if not is_free_user(@user) %>
    <section>
      <div class="alert alert-info">
        <b>Premium User</b><% if current_user == @user %> | Thank you for supporting POMOS!<% end %>
      </div>
    </section>
  <% end %>

  <% if is_free_user(current_user)  %>
      <div class="row alert timer-alert">
        <b>Warning</b> As a free user, you are limited to <%= UsersHelper::FREE_MAX_TAGS %> tags in total (across all your Pomodoros). You currently have <%= pluralize((UsersHelper::FREE_MAX_TAGS - current_user.owned_tags.count),"tag") %> left.
      </div>
    <% end %>


    <section>
      <div id="tag_cloud_div" class="">
        <% tag_cloud(current_user.pomodoros.where("updated_at >= \"#{1.year.ago.beginning_of_day}\"").tag_counts, %w(css1 css2 css3 css4)) do |tag, css_class| %>
          <%= link_to tag.name, "#", :id=>"#{tag.name}-tag",:class => "#{css_class} tag-link", :onclick => "$(this).toggleClass(\'selected-tag\'); toggleTag(\'#{tag.name}\'); ".html_safe %>
        <% end %>
      </div>

    </section>


  </aside>

<% if @user.pomodoros.finished.any? %>
<div id="chart-options-upper">

  <div id="chart-timeframe-div" class="pull-right">
    Timeframe: 
    <input type="radio" name="chart-timeframe" value="last week" onclick="redrawChart();" > Last Week | 
    <input type="radio" name="chart-timeframe" value="last month" onclick="redrawChart();" checked> Last Month |
    <input type="radio" name="chart-timeframe" value="last year" onclick="redrawChart();"> Last Year
  </div>
</div>
<% end %>

<div id="chart-div-wrapper" class="span9">

  <div id="chart_div" class="">
    <% if not @user.pomodoros.finished.any?  and current_user == @user %>
      You don't have any Pomodoros! <%= link_to "Start working on some Pomodoros", "#", :onclick=>"openTimerPopup()" %> to see the Pomodoro history chart.
    <% end %>
  </div>

<% if @user.pomodoros.finished.any? %>
  <div id="chart-options-lower">

    <div id="chart-type-div" class="pull-left">
      <input type="radio" name="chart-type" value="total time" onclick="redrawChart();" checked> Minutes | 
      <input type="radio" name="chart-type" value="count" onclick="redrawChart();"> Count
    </div>

    <div id="chart-granularity-div" class="pull-right">
      <input type="radio" name="chart-granularity" value="daily" onclick="redrawChart();" checked> Daily | 
        <input type="radio" name="chart-granularity" value="weekly" onclick="redrawChart();"> Weekly
    </div>

  </div>


  <div id="table_div" class="">
  </div>

  


<% end %>

</div>




  

<!--
  <div class="span2 pull-right">
    <% if @user.pomodoros.finished.any? %>
      <h3>Pomodoros (<%= @user.pomodoros.finished.count %>)</h3>
      <ol class="pomodoros">
        <%= render @pomodoros %>
      </ol>
      <%= will_paginate @pomodoros %>
    <% end %>
  </div>
-->

</div>