<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="span8">
    <% if @user.pomodoros.any? %>
      <h3>Pomodoros (<%= @user.pomodoros.count %>)</h3>
      <ol class="pomodoros">
        <%= render @pomodoros %>
      </ol>
      <%= will_paginate @pomodoros %>
    <% end %>
  </div>
</div>