<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>  
    
    

    <% if content_for? :pomodoro_charts %>
      <%= yield :pomodoro_charts %>
    <% end %>


  <!--open timer popup-->
  

  <!--google analytics code-->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34198486-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  
  <script type="text/javascript">

  function openTimerPopup() {
    console.log("open timer popup method.");
    window.open('/timer','','menubar=no,width=530,height=300,toolbar=no, scrollbars=no, resizable=no');
  }

</script>

  </head>
  <body>
    <% if !content_for? :timer %>
      <%= render 'layouts/header' %>
    
    


    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

      
      <%= yield %>

      

        <%= render 'layouts/footer' %>
      
      <%= debug(params) if Rails.env.development? %>
    </div>
    <% else %>
      <%= yield :timer %>
    
    <% end %>



    <%= render 'layouts/tracking' %>

  </body>

</html>